#titulo { 
    color: tomato;
}
p.texto {
    color: slateblue;
}
p.especial {
    color: mediumaquamarine;
}
div p {
    color: rgb(165, 42, 104);
}

div h2, div h3 {
    color: brown;
}

*{ 
    font-size: 24px;
    }
/* Hola chanchito feliz*/
/*
.color { 
    color: #ff0000;
}
.color {
    color: rgb(0, 255, 255);
}
*/

 .color {
  /* border: 5px red outset;
        dotted
        dashed
        solid
        double
        groove
        ridge 
        inset 
        outset 
        none 
        hidden
    } */
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 2rem;
}
#fondo {
        background-color: rgb(255, 0, 0); 
       /* opacity: 0.3; */
        height: 300px;
            
        background: #f00 url('playa.jpg') repeat-y center bottom / 100px 100px;
        
    }
.margen {
    background-color: chocolate;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 1px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 2px solid red;
}

.text{
    font-family: 'sono', sans-serif;
    text-align: center;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;

}
